<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".ModuleApplication"
        android:allowBackup="false"
        android:hasCode="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TailgAdblock">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ConfigBridgeService"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>
</manifest>
